@font-face  {
	font-family: "Source Sans Pro Regular";
	src: url(../fonts/SourceSansPro-Regular.woff2);
	src: url(../fonts/SourceSansPro-Regular.woff);
	font-weight: 400;
	font-style:  normal;
}
@font-face  {
	font-family: "Source Sans Pro Bold";
	src: url(../fonts/SourceSansPro-Bold.woff2);
	src: url(../fonts/SourceSansPro-Bold.woff);
	font-weight: 800;
	font-style:  normal;
}
@font-face  {
	font-family: "Source Sans Pro SemiBold";
	src: url(../fonts/SourceSansPro-SemiBold.woff2);
	src: url(../fonts/SourceSansPro-SemiBold.woff);
	font-weight: 600;
	font-style:  normal;
}
:root {
	font-size: 1em;
	--title-f-f: "Source Sans Pro SemiBold";
	--button-f-f: "Source Sans Pro Bold";
	--text-c: rgb(153, 153, 153);
	--title-c:  rgb(26, 26, 26);
	--blue-c: rgb(0, 142, 214);
	--title-s: 1.25rem;
	--bluetext-s: 0.875rem;
	--title-s: 2.25rem;
}
* {
	outline: none;
}
.button:focus, .button:active {
	outline: none;
	border: none;
}
body {
	color: rgb(255, 255, 255);
	font-family: "Source Sans Pro Regular";
	font-size: 1rem;
}
.wrapper {
	max-width: 1730px;
	padding: 0 30px;
	margin: 0 auto;
}
.header {
	background: transparent;
	position: absolute;
	z-index: 5;
	width: 100%;
}
.header__content {
	height: 5em;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.logo__text {
	font-family: var(--button-f-f);
	font-size: 1.5rem;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	text-decoration: none;
	color: rgb(255, 254, 254);
}
.nav {
	flex-grow: 2;
    display: flex;
    justify-content: flex-end;
    margin-right: 7em;
}
.menu {
	display: flex;
	list-style: none;
}
.menu__link {
	position: relative;
	text-decoration: none;
	font-family: var(--title-f-f);
	font-size: 1rem;
	color: rgb(255, 254, 254);
	padding: 1em 1.5em;
}
.menu__link:before {
	content: "";
	position: absolute;
	width: 0;
	height: 0.2em;
	right: 0;
	bottom: 0;
	background: var(--blue-c);
	transition: all 0.4s;
}
.menu__link:hover:before {
	width: 100%;
	left: 0;
}
.menu__link:active {
	color: var(--blue-c);
}
.burger {
	display: none;
}
.header__phone {
	color: rgb(255, 254, 254);
	font-family: var(--title-f-f);
	font-size: 1.5rem;
	text-decoration: none;
}
.login__title {
	margin-left: 2em;
	font-size: 1.2rem;
	text-decoration: underline;
	cursor: pointer;
	position: relative;
}
.form-login {
	display: none;
	position: absolute;
    top: 90%;
    right: 4%;
}
.form-login input {
	width: 8em;
}
.form-login__inner {
	display: flex;
	justify-content: space-between;
	width: 12em;
	margin-bottom: 0.5em ;
}
.form-text__inner {
	text-align: right;
	margin-right: 1em;
}
.form-login__button {
	margin-top: 1em;
	margin-left: auto;
	width: 3em;
	display: block;
	background-color: var(--blue-c);
	font-family: var(--button-f-f);
	border: none;
	color: rgb(255, 255, 255);
	padding: 0.4em 1.2em;
	border-radius: 3px;
	cursor: pointer;
}
.main {
	background-image: url(../images/main__bg.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	position: relative;
	height: 100%;
	width: 100%;
}
.main__container {
	padding-top: 15em;
	padding-bottom: 2em;
}
.chapter {
	color: var(--blue-c);
	font-size: var(--bluetext-s);
	font-family: var(--button-f-f);
	text-transform: uppercase;
	font-weight: 800;
	letter-spacing: 0.05em;
	margin-bottom: 2em;
	display: block;
}
.main__title {
	font-family: var(--title-f-f);
	font-size: 3rem;
	margin-bottom: 1em;
	width: 35%;
}
.main__text {
	font-size: 1.2rem;
	color: var(--text-c);
	width: 30%;
	margin-bottom: 3em;
}
.main__btn {
	font-family: var(--button-f-f);
	text-transform: uppercase;
	padding: 1.2em 1.5em;
	border-radius: 3px;
	cursor: pointer;
	background-color: transparent;
	color: inherit;
	border: 1px solid rgb(255, 255, 255, 0.5);
	position: relative;
	z-index: 10;
	box-sizing: border-box;
}
.main__btn:after {
	content: "";
	position: absolute;
	background-color: var(--blue-c);
	width: 0%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: -1;
	transition: 0.7s width ease;
}
.main__btn:hover:after {
	width: 100%;
}
.main__btn-action {
	margin-right: 1.25em;
	background-color: var(--blue-c);
	border-radius: 3px;
	border: 1px solid transparent;
	box-shadow: none;
}
.main__image {
	display: block;
	position: absolute;
	bottom: 0;
	right: 10em;
}
.features {
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.features__chapter {
	padding-top: 4em;
	text-align: center;
}
.title {
	text-align: center;
	font-family: var(--title-f-f);
	color: var(--title-c);
	font-size: var(--title-s);
	position: relative;
	width: 100%;
}
.title:after {
	content: "";
	display: block;
	bottom: 0;
    left: calc(100% - 52%);
    transform: translate(0%, 30px);
	position: absolute;
	height: 3px;
	width: 2.2em;
	background: linear-gradient(to right, var(--blue-c) 47%,
								transparent 47%,
								transparent 53%,
							    var(--blue-c) 53%);
}
.features__items {
	margin-top: 7em;
	margin-bottom: 3.5em;
	display: flex;
	justify-content: space-between;
}
.features__item {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
}
.features__item + .features__item {
	margin-left: 4.3em;
}
.icon__wrap {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	border: 1px solid rgba(0, 0, 0, 0.4);
	height: 6.5em;
	width: 6.5em;
	margin-bottom: 1.5em;
}
.features__icon {
	color: var(--blue-c);
	font-size: 2rem;
	display: block;
}
.features__title {
	color: var(--title-c);
	font-size: 1.5rem;
	margin-bottom: 1.25em;
}
.features__text {
	font-size: 1.1rem;
	color: var(--text-c);
	text-align: center;
	margin-bottom: 1em;
}
.all-device__items {
	display: flex;
	margin-top: 7.5em;
	margin-bottom: 3em;
	justify-content: center;
}
.all-device__item {
	flex-basis: 40%;
}
.all-device__item:first-child {
	text-align: center;
}
.all-device__item:last-child {
	margin-top: 3.1em;
}
.all-device__title {
	text-align: left;
}
.all-device__title:after {
    left: 0;
    transform: translate(0%, 30px);
}
.all-device__text {
	width: 70%;
	margin-top: 4em;
	margin-bottom: 2.5em;
	color: var(--text-c);
	font-size: 1.1rem;
	text-align: left;
}
.all-device-list {
	list-style: none;
}
.all-device-list__item {
	color: var(--title-c);
	font-size: 1.1rem;
}
.all-device-list__item + .all-device-list__item {
	margin-top: 1.2em;
}
.all-device-list__icon {
	font-size: 1.1rem;
	color: var(--blue-c);
	width: 2em;
	text-align: center;
	margin-left: -0.4em;
	margin-right: 0.5em;
}
.customize {
	height: 34em;
	background-color: rgb(242, 242, 242);
	background-image: url(../images/phone.png);
	background-repeat: no-repeat;
	background-position: 90% 50%;
	background-size: calc(40% + 5%);
}
.customize__item {
	padding: 7.5em 0 3em;
}
.customize__title {
	text-align: left;
	margin-bottom: 2em;
}
.customize__title:after {
	left: 0;
    transform: translate(0%, 30px);
}
.customize__text {
	width: 40%;
	color: var(--text-c);
}
.testimonials {
	background-image: url(../images/testimonials__bg.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	padding: 3.75em 0 7em;
	height: 47vh;
}
.testimonials__chapter {
	text-align: center;
}
.testimonials__title {
	color: rgb(255, 255, 255);
}
.testimonials__slider {
	margin-top: 8em;
	display: flex;
	justify-content: center;
}
.testimonials__slide {
	flex: 0 1 35%;
	display: flex;
	height: inherit;
	flex-direction: column;
	justify-content: space-between;
}
.testimonials__slide + .testimonials__slide {
	margin-left: 3em;
}
.testimonials__text {
	font-style: italic;
	font-size: 1.2rem;
	margin-bottom: 2em;
}
.testimonials-person__info {
	display: flex;
	align-items: center;
}
.testimonials__photo {
	margin-right: 1.5em;
}
.testimonials-person__id {
	display: flex;
	flex-direction: column;
}
.testimonials__name {
	vertical-align: center;
}
.testimonials__name {
	margin-bottom: 0.7em;
}
.testimonials__position {
	font-family: var(--button-f-f);
	font-size: 0.8rem;
	text-transform: uppercase;
}
.download {
	background-color: rgb(0, 0, 0);
}
.download__inner {
	height: 20vh;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.download__text {
	font-size: 2.5rem;
}
.download__text-bold {
	font-family: var(--button-f-f);
	margin-right: 1em;
}
.download-button__items {
	display: flex;
}
.download-button__item + .download-button__item {
	margin-left: 1.25em;
}
.download-button__item ~ .main__btn-action {
	margin-right: 0;
}
.fag {
	background-color: rgb(237, 237, 237);
}
.fag__chapter {
	padding-top: 3.7em;
	text-align: center;
}
.faq__items {
	max-width: 800px;
	margin: 0 auto;
	padding: 5em 0 3em;
}
.faq__item {
	background-color: rgb(255, 255, 255);
	border-radius: 30px;
	padding: 1em 2em;
}
.faq__item + .faq__item {
	margin-top: 1.5em;
}
.faq__title {
	color: var(--title-c);
	font-size: 2rem;
	margin-bottom: 0.8em;
	cursor: pointer;
}
.faq__text {
	color: var(--title-c);
	line-height: 1.5;
}
.plans__chapter {
	text-align: center;
	margin-top: 3.7em;
}
.plans__items {
	display: flex;
	justify-content: space-between;
	margin: 4em 0 7em;
}
.plans__item {
	display: flex;
	flex-direction: column;
	align-items: center;
	border: 1px solid var(--text-c);
	cursor: pointer;
}
.plans__item + .plans__item {
	margin-left: 2em;
}
.plans__name {
	color: var(--title-c);
	text-transform: uppercase;
	font-family: var(--button-f-f);
	font-size: 1.5rem;
	padding: 1.7em 0;
	transition-duration: 0.5s;
}
.price__wrap {
	border-top: 1px solid var(--text-c);
	border-bottom: 1px solid var(--text-c);
	width: 100%;
	padding: 2.5em 0;
	display: flex;
    flex-direction: column;
    align-items: center;
    transition-duration: 0.5s;
}
.plans__price {
	color: var(--title-c);
	font-size: 3.75rem;
	font-family: var(--button-f-f);
	text-align: center;
	position: relative;
	transition-duration: 0.5s;
}
.plans__price:before {
	content: "\0024";
	position: absolute;
	top: 5px;
    left: 0px;
    transform: translateX(-15px);
	font-size: 2rem;
}
.plens__period {
	color: var(--text-c);
	font-size: 1.1rem;
	text-align: center;
	display: block;
	transition-duration: 0.5s;
}
.plans__text {
	font-size: 1.1rem;
	color: var(--text-c);
	text-align: center;
    padding: 3em 2em 2.5em;
}
.plans__button {
	color: var(--blue-c);
	border: 1px solid var(--text-c);
	border-radius: 3px;
	padding: 1.25em 3em;
	background-color: transparent;
	text-transform: uppercase;
	font-family: var(--button-f-f);
	margin-bottom: 2.8em;
	cursor: pointer;
	transition-duration: 0.5s;
}
.plans__item:hover .plans__name {
	color: var(--blue-c);
}
.plans__item:hover .price__wrap {
	background-color: var(--blue-c);
	color: rgb(255, 255, 255);
}
.plans__item:hover .plans__price, .plens__period {
	color: rgb(255, 255, 255);
}
.plans__item:hover .plans__button {
	background-color: var(--blue-c);
	color: rgb(255, 255, 255);
	bordrer: transparent;
}
.contact {
	background-color: rgb(237, 237, 237);
	background-image: url(../images/map.png);
	background-repeat: no-repeat;
	background-position: bottom;
	background-size: 100% 30%;
	padding-top: 4em;
	min-height: 65em;
}
.contact__chapter {
	text-align: center;
}
.contact__items {
	margin-top: 5.9em;
	display: flex;
	justify-content: space-between;
}
.contact__item {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.contact__icon {
	color: var(--blue-c);
	font-size: 2rem;
	margin-bottom: 1em;
}
.contact__phone {
	text-decoration: none;
	color: var(--text-c);
	font-size: 1.2rem;
	line-height: 2rem;
}
.contact__fax {
	color: var(--text-c);
	font-size: 1.2rem;
	line-height: 2rem;
}
.contact__adress {
	color: var(--text-c);
	text-align: center;
	font-size: 1.2rem;
	line-height: 2rem;
}
.contact__mail {
	color: var(--text-c);
	text-align: center;
	font-size: 1.2rem;
	line-height: 2rem;
}
.form__inner {
	margin-top: 5em;
	display: flex;
	justify-content: center;
	align-items: center;
}
.form {
	width: 45%;
	background-color: var(--title-c);
	padding: 4em 4em 3em;
}
.form__info {
	display: flex;
}
.form__item {
	display: flex;
	flex-direction: column;
	flex-basis: 50%;
}
.form__item + .form__item {
	margin-left: 1em;
}
.form__item input {
	height: 33%;
	background-color: var(--title-c);
	border: 1px solid rgb(68, 67, 72);
	border-radius: 4px;
}
input + input {
	margin-top: 1em;
}
.form__message {
	background-color: var(--title-c);
	border: 1px solid rgb(68, 67, 72);
	border-radius: 4px;
}
input::placeholder {
	text-transform: uppercase;
	padding-left: 1.2em;
}
textarea::placeholder {
	text-transform: uppercase;
	padding-left: 1.2em;
	padding-top: 0.8em;
}
.form__item input:focus {
	background-color: rgb(255, 255, 255);
}
:focus::placeholder {
	color: transparent;
}
textarea:focus {
	background-color: rgb(255, 255, 255);
}
.form__btn {
	display: block;
	margin-left: auto;
	margin-top: 2em;
	margin-right: 0;
	color: rgb(255, 255, 255);
	text-transform: uppercase;
	padding: 1.2em 2em;
	font-family: var(--button-f-f);
	letter-spacing: 0.2em;
	cursor: pointer;
}
.footer {
	background-color: var(--title-c);
}
.footer__inner {
	height: 12em;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.social__list {
	list-style: none;
	display: flex;
	margin-bottom: 1.5em;
}
.social__item + .social__item {
	margin-left: 2em;
}
.social__item {
	transition: 0.4s;
}
.social__item:hover {
	transform: scale(1.4);
}
.social__link {
	font-size: 2rem;
	text-decoration: none;
	color: var(--text-c);
	transition: 0.4s;
}
.social__link:hover {
	color: var(--blue-c);
}
.copy {
	color: var(--text-c);
	font-size: 1.5rem;
	font-family: var(--title-f-f);
	text-transform: uppercase;
}
@media (max-width: 1200px) {
	.nav {
	    margin-right: 3em;
	}
	.menu__link {
		padding: 0.8em 1.2em;
	}
	.header__phone {
		font-size: 1.2rem;
	}
	.chapter {
		margin-bottom: 1.2em;
	}
	.main__title {
		font-size: 3rem;
		margin-bottom: 0.5em;
		width: 45%;
	}
	.main__text {
		width: 45%;
		margin-bottom: 3em;
	}
	.main__image {
		right: 4em;
	}
	.title:after {
	    left: calc(100% - 54%);
	}
	.all-device__title:after {
	    left: 0;
	}
	.customize__title:after {
		left: 0;
	}
	.customize__text {
		width: 50%;
	}
	.download__text {
		font-size: 2rem;
	}
	.download__text-bold {
		margin-right: 0.3em;
	}
	.download-button__items {
		display: flex;
	}
	.download-button__item + .download-button__item {
		margin-left: 1em;
	}
	.plans__items {
		flex-wrap: wrap;
	}
	.plans__item {
		flex-basis: 45%;
	}
	.plans__item + .plans__item {
		margin-left: 0;
	}
	.plans__item:nth-child(n+3) {
		margin-top: 1.5em;
	}
}
@media (max-height: 800px) {
	.main__container {
	    padding-top: 9em;
	}
	.chapter {
		margin-bottom: 1em;
	}
	.main__title {
		margin-bottom: 0.7em;
		width: 40%;
	}
	.main__text {
		width: 40%;
		margin-bottom: 1.5em;
	}
	.testimonials {
		padding: 3em 0 7em;
		height: 65vh;
	}
	.testimonials__slider {
		margin-top: 6.5em;
	}
}
@media (max-width: 1024px) {
	.logo {
		flex-grow: 1;
	}
	.nav{
		order: 3;
		flex-grow: 1;
	    margin-right: 0;
	}
	.menu {
		display: none;
		position: absolute;
		flex-direction: column;
		justify-content: space-around;
		top: 4.5em;
		width: 43vw;
		right: 0;
		background-color: var(--blue-c);
	}
	.menu__item {
		text-align: center;
		padding: 0.5em 1.2em;
	}
	.menu__item + .menu__item {
		box-shadow: 0 -2px 2px rgb(14, 0, 70);
	}
	.menu__link {
		position: relative;
		font-size: 1.7rem;
		text-transform: uppercase;
		padding: 0;
	}
	.menu__link:before {
		display: none;
	}
	.menu__link:active {
		color: rgb(255, 255, 255);
	}
	.burger {
		display: block;
	}
	.burger {
		display: block;
		height: 100%;
		cursor: pointer;
	}
	.burger__item {
		display: block;
		width: 2.7em;
		height: 0.2em;
		background-color: var(--blue-c);
		transition: ease 0.1s;
		opacity: 1;
	}
	.burger__item + .burger__item {
		margin-top: 0.35em;
	}
	.burger__item-top {
		transform: rotate(-45deg) translateX(-5px) translateY(2px);
		transition: 0.5s;
		z-index: 3;
	}
	.burger__item-middle {
		position: absolute;
		opacity: 0;
	}
	.burger__item-bottom {
		transform: rotate(45deg) translateX(-3px) translateY(-1px);
		transition: 0.5s;
		z-index: 3;
	}
	.header__phone {
		text-decoration: none;
		flex-grow: 1;
		text-align: right;
	}
	.main__image {
		right: 0;
	}
	.features__item + .features__item {
		margin-left: 2.5em;
	}
	.all-device__items {
		margin-top: 5em;
	}
	.all-device__item {
		flex-basis: 40%;
	}
	.all-device__item:first-child {
		text-align: left;
	}
	.all-device__item:last-child {
		margin-top: 2.1em;
	}
	.all-device__text {
		width: 90%;
		margin-top: 3.5em;
		margin-bottom: 2em;
	}
	.customize {
		height: 28em;
		background-position: 98% 50%;
		background-size: calc(45% + 5%);
	}
	.customize__item {
		padding: 7em 0 3em;
	}
	.customize__title {
		text-align: left;
		margin-bottom: 2em;
	}
	.customize__text {
		width: 50%;
	}
	.testimonials__slider {
		margin-top: 6.5em;
	}
	.download__inner {
		height: 25vh;
		justify-content: center;
		align-items: flex-start;
		flex-direction: column;
	}
	.download-button__items {
		margin-top: 2em;
	}
	.form {
		width: 55%;
	}
}
@media (max-width: 845px) {
	:root {
		font-size: 0.9em;
	}
	.main__container {
		padding-top: 17em;
	}
	.menu {
		width: 45vw;
		right: 0;
		background-color: var(--blue-c);
	}
	.menu__item {
		padding: 0.8em 1.2em;
	}
	.menu__link {
		font-size: 1.5rem;
	}
	.main__title {
		margin-bottom: 1em;
		width: 70%;
	}
	.main__text {
		width: 80%;
		margin-bottom: 4em;
	}
	.main__image {
		display: none;
	}
	.features__items {
		flex-wrap: wrap;
	}
	.features__item {
		display: flex;
		flex: 1 1 40%;
	}
	.features__item + .features__item {
		margin-left: 0;
	}
	.features__item:nth-child(odd) {
		margin-right: 5em;
	}
	.features__item:nth-child(n+3) {
		margin-top: 3em;
	}
	.title:after {
	    left: calc(100% - 54%);
	    width: 2em;
	}
	.all-device__items {
		justify-content: space-between;
	}
	.all-device__item:first-child {
		flex-flow: 1;
		flex-basis: 30%;
	}
	.all-device__item:last-child {
		flex-flow: 2;
		flex-basis: 60%;
		margin-top: 0;
	}
	.all-device__img {
		height: 410px;
		width: 340px;
	}
	.all-device__title:after {
		left: 0;
	    transform: translate(0%, 15px);
	}
	.all-device__text {
	    width: 100%;
	    margin-top: 2.5em;
	    margin-bottom: 1em;
	}
	.all-device-list__item + .all-device-list__item {
	    margin-top: 0.8em;
	}
	.customize {
		background-position: 100% 50%;
		background-size: calc(45% + 5%);
	}
	.customize__title:after {
		left: 0;
	    transform: translate(0%, 15px);
	}
	.testimonials__slide + .testimonials__slide {
		margin-left: 2em;
	}
	.slick-dots {
	    top: 16em;
	}
	.plans__name {
	    padding: 0.7em 0;
	}
	.price__wrap {
	    padding: 1.5em 0;
	}
	.plans__text {
	    padding: 2em 2em 2em;
	}
	.plans__button {
	    margin-bottom: 1.5em;
	}
	.contact {
	    height: 60em;
	}
	.form {
	    width: 70%;
	    padding: 4em 4em 2.5em;
	}
	.form__btn {
	    padding: 1em 2em;
	    letter-spacing: 0.2em;
	}
}
@media (max-width: 640px) {
	.all-device__item:first-child {
		display: none;
	}
	.all-device__item:last-child {
		flex-flow: 1;
		flex-basis: 100%;
		margin-top: 0;
	}
	.all-device__title {
		text-align: center;
	}
	.title:after {
	    left: calc(100% - 55%);
	    width: 1.8em;
	}
	.all-device__chapter {
		text-align: center;
	}
	.customize {
		height: 23em;
		background-image: none;
	}
	.customize__chapter {
		text-align: center;
	}
	.customize__item {
		padding: 5em 0 3em;
	}
	.customize__title {
		text-align: center;
		margin-bottom: 1.5em;
	}
	.customize__text {
		width: 100%;
	}
	.testimonials {
		padding: 2em 0 5em;
		height: 35vh;
	}
	.testimonials__slider {
		margin-top: 5em;
	}
	.slick-dots {
	    top: 14em;
	}
	.slick-dots li {
	    margin-left: 0.5em;
	}
	.slick-dots li button {
	    width: 12px;
	    height: 12px;
	}
	.slick-dots li.slick-active button {
	    width: 15px;
	    height: 15px;
	}
	.contact {
		background-image: none;
	}
	.contact__items {
	    flex-direction: column;
	}
	.contact__item + .contact__item {
		margin-top: 2em;
	}
	.form {
	    width: 100%;
	    padding: 3em 2em 2em;
	}
	.copy {
	    font-size: 1rem;
	}
	.contact__icon {
	    margin-bottom: 0.3em;
	}
}
@media (max-width: 530px) {
	.menu {
		width: 50vw;
	}
	.main__container {
		padding-top: 15em;
	}
	.main__title {
		font-size: 2.5rem;
		width: 100%;
	}
	.main__text {
		font-size: 1.2rem;
		width: 100%;
		margin-bottom: 3em;
	}
	.main__btn {
		padding: 1em 1.2em;
	}
	.features__items {
		flex-direction: column;
	}
	.features__item {
		display: flex;
		flex: 0 0 50%;
	}
	.features__item:nth-child(odd) {
		margin-right: 0;
	}
	.features__item:nth-child(n+3) {
		margin-top: 0;
	}
	.features__item + .features__item {
		margin-top: 2em;
	}
	.features__icon {
		font-size: 1.8rem;
	}
	.features__title {
		font-size: 1.4rem;
		margin-bottom: 1em;
	}
	.features__text {
		font-size: 1rem;
	}
	.title:after {
	    left: calc(100% - 55%);
	    width: 1.8em;
	}
	.plans__items {
	    display: flex;
	    justify-content: space-between;
	    margin: 4em 0 4em;
	    flex-direction: column;
	}
	.plans__item:nth-child(n+3) {
	    margin-top: 0;
	}
	.plans__item + .plans__item {
		margin-top: 3em;
	}
	.contact {
	    padding-bottom: 2em;
	}
	.form__inner {
    	margin-top: 1.5em;
	}
	.form__info {
	    display: flex;
	    flex-direction: column;
	}
	.form {
	    padding: 1.5em 1em 1em;
	}
	.form__item + .form__item {
	    margin-left: 0;
	    margin-top: 1em;
	}
	.form__item input {
	    height: 2.5em;
	}
	.form__btn {
	    margin-top: 1em;
	    padding: 1em 1.5em;
	}
	.social__link {
	    font-size: 1.7rem;
	}
}
@media (max-width: 400px) {
	:root {
		font-size: 0.8em;
	}
	.wrapper {
		padding: 0 15px;
	}
	.main__btn {
		padding: 1em 1.2em;
		font-size: 0.8rem;
	}
	.main__btn-action {
		margin-right: 0.8em;
	}
	.title {
		font-size: 2rem;
	}
	.title:after {
	    left: calc(100% - 55%);
	    width: 1.5em;
	    transform: translate(0%, 15px);
	}
	.features__items {
		margin-top: 5em;
		margin-bottom: 3.5em;
	}
	.features__text {
	    padding: 0 3em;	
}